body {
    font-family: "Bitstream Vera Sans", sans-serif;
}

main {
    position: relative;
    top: 8px;
}

#header {
    position: sticky;
    height: 30px;
    background-color: mediumaquamarine;
}

#links {
    position: absolute;
    right: 4px;
    bottom: -8px
}

#cID {
    position: absolute;
    left: 4px;
    bottom: -8px;
}

#formBox {
    width: 300px;
    background-color: mediumaquamarine;
}

